* {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-color: #333340;
    margin: 0;
    padding: 0;
    min-width: 500px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #5c0029;
}

.c3-tooltip-container th {
    background-color: #104060
}

.c3-axis line {
    display: none;
}

.c3-grid {
    display: none;
}

.c3-legend-item text {
    fill: white;
}

g.c3-legend-item rect.c3-legend-item-tile {
    stroke-width: 2 !important;
    stroke: #ccc !important;
}

.domain {
    display: none;
}

.logoHeader {
    width: 100%;
    height: 59px;
    display: block;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8400ea+0,137cb5+53,17b8d8+100 */
background: #8400ea; /* Old browsers */
background: -moz-linear-gradient(left, #8400ea 0%, #137cb5 53%, #17b8d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #8400ea 0%,#137cb5 53%,#17b8d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #8400ea 0%,#137cb5 53%,#17b8d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8400ea', endColorstr='#17b8d8',GradientType=1 ); /* IE6-9 */
    overflow:hidden;
}

.headertext {
    float: right;
    text-align: center;
    height: 59px;
    padding: 13px 10px;
    overflow: hidden;
}

.c3-texts text {
    fill: white !important;
    font-weight: 900 !important;
    display:none;
}

.chartHeader {
    color: white;
    text-align: right;
    background: linear-gradient(to right, #8400ea 0%,#ce16c8 51%,#fc5c00 100%);
}

.container {
    max-width: 80%;
    min-width: 380px;
    margin: 1% 10%;
}

.instructions {
    color: #b5bec6;
    text-align: center;
    font-size: 10px;
}

.instructions p {
    margin: 0 auto;
    max-width: 500px;
    padding: 8px 0px;
}

h1 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    color: white;
    text-align: right;
    display: inline;
}

h3 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin: 0px;
	padding: 5px;
}

.form {
    display: table;
    text-align: left;
    width: 400px;
    margin: 0 auto;
    padding: 0px 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #0f0f0f;
    background-color: #f2f6f8
}

.submit {
    text-align: center;
    background-color: #00b300;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 0px auto 10px auto;
    font-weight: bold;
    cursor: pointer;
    max-width: 350px;
}

#submitbutton {
    background-color: #00b300;
    width: 150px;
}

.submit p {
    margin: 0 auto;
}

.choose {
    text-align: center;
}

input {
    display: table-row;
    width: 400px;
}

.largeInput {
    min-height: 70px;
    text-align: left;
}

.genlist {
    width: 200px;
}

#services {
    width: 403px;
    padding-right: 1px;
}

#errortext {
    display: none;
}

#reopen {
    display: none;
    background-color: #1f7fc1;
}

.defaultbutton {
    float: right;
    padding: 3px 3px;
    background-color: #1f7fc1;
    color: white;
    border-radius: 3px;
    font-size: 8pt;
    cursor: pointer;
}

#output {
    margin-top: 10px;
}

#outputrich {
    margin-top: 0px;
    border: 1px solid black;
    background-color: white;
}

#outputrichtop {
    margin-bottom: 0px;
}

#outputraw {
    width: 750px;
    min-height: 90px;
}

textarea {
    width: 400px;
}

sub {
    vertical-align: middle;
    font-size: medium;
}

.red {
    background-color: red;
}

.blue {
    background-color: #1f7fc1;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

#nochess {
    display: none;
}

.submit a {
    color: white;
}

#footext {
    pointer: cursor;
}

.instruxwrap {
    width: 500px;
    margin: 0 auto;
}

.leftinstrux {
    float: left;
    width: 50%;
}

.rightinstrux {
    float: right;
    width: 50%;
}

.aleft {
    text-align: left;
}

.instructions p {
    font-size: 10px;
    padding: 5px;
}

.instructions b {
    font-size: 12px;
    color: white;
}

#selector {
    max-width: 400px;
    margin: auto;
}

.loadingbar {
    text-align: center;
    color: #49111c;
    background-color: #b5bec6;
}

.chartHeader p {
    font-style: italic;
    color: black;
    background-color: #dddddd;
    margin: 0px;
    padding: 5px;
    text-align: right;
}

.tick text {
    fill: white;
}