.container {
    display: inline-block;
    width: 75%;
}

.barChart {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+97,5c0029+97 */
background: #f2f6f8; /* Old browsers */
background: -moz-linear-gradient(top, #f2f6f8 97%, #5c0029 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f2f6f8 97%,#5c0029 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f2f6f8 97%,#5c0029 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#5c0029',GradientType=0 ); /* IE6-9 */
}

.c3-legend-item text {
    fill: #0f0f0f;
    font-size: 10px;
}

.c3-legend-background {
    opacity: 0;
}

.splitblock {
    margin: 0;
    margin-bottom: 2px;
    display: inline-block;
    text-align: center;
    padding: 0;
}

.splitblock p {
    margin: 3px;
}

.label {
    width: 10%
}

.label p {
    text-align: right;
}

.data {
    width: 30%;
    max-width: 300px;
}

.data p {
    border: none;
    margin: 5px;
}

.maininstrux {
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
}

.left {
    display: inline-block;
    text-align: right;
    min-width: 55%;
    padding-right: 2%;
    max-width: 55%;
}

.right {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    min-width: 43%;
    max-width: 43%;
}

#totalsbox {
    text-align: center;
}

#totalsbox p.mid {
    border-top: none;
    border-bottom: none;
}

#totalsbox span.mid p {
    border-left: none;
    border-right: none;
}
