.container {
    display: inline-block;
    width: 75%;
}

.barChart {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+97,5c0029+97 */
background: #f2f6f8; /* Old browsers */
background: -moz-linear-gradient(top, #f2f6f8 97%, #5c0029 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f2f6f8 97%,#5c0029 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f2f6f8 97%,#5c0029 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#5c0029',GradientType=0 ); /* IE6-9 */
}

.c3-legend-item text {
    fill: #0f0f0f;
    font-size: 10px;
}

.c3-legend-background {
    opacity: 0;
}

.splitblock {
    margin: 0;
    margin-bottom: 2px;
    display: inline-block;
    font-weight: bolder;
    text-align: center;
}

.splitblock p {
    margin: 3px;
}

.label {
    width: 12%
}

.label p {
    text-align: right;
}

.data {
    width: 12%;
}

.data p {
    text-align: center;
}

.maininstrux {
    margin 2% 0 0 0;
}
